# Find your environment id at https://app.dynamic.xyz/dashboard/developer
NEXT_PUBLIC_DYNAMIC_ENVIRONMENT_ID="82e076c9-6bee-449f-aa5f-b5650e2f5286"

# Test token address
NEXT_PUBLIC_TOKEN_ADDRESS="0x92C6bcA388E99d6B304f1Af3c3Cd749Ff0b591e2"

# Portal addresses
NEXT_PUBLIC_ERC20_PORTAL="0x9C21AEb2093C32DDbC53eEF24B873BDCd1aDa1DB"
NEXT_PUBLIC_ERC721_PORTAL="0x237F8DD094C0e47f4236f12b4Fa01d6Dae89fb87"

# Dapp address
NEXT_PUBLIC_DAPP_ADDRESS="0xab7528bb862fb57e8a2bcd567a2e929a0be56a5e"

# Inspect URL
NEXT_PUBLIC_INSPECT_URL="http://localhost:8080/inspect"

# GraphQL URL
NEXT_PUBLIC_GRAPHQL_URL="http://localhost:8080/graphql"